@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{ 
    <div class="profile-nav-wrapper">
        <ul class="profile-nav">
            <li>@Html.ActionLink("My Adopted Maps", "AdoptedMaps", "MyMaps")</li>
            <li><a href="@Url.Action("", "PublishedMaps", new { u = User.Identity.GetUserId() })">My Published Maps</a></li> 
            <li>@Html.ActionLink("My Profile", "Private", "Profile")</li>
            <li>@Html.ActionLink("Get More Tokens", "Credits", "Profile")</li>
        </ul>
    </div>
    <br/>
    <br/>
}

