@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{ 
    <div class="profile-nav-wrapper">
        <ul class="profile-nav">
            <li>@Html.ActionLink("Adopted Maps", "AdoptedMaps", "MyMaps")</li>
            <li>@Html.ActionLink("Profile", "Private", "Profile")</li>
            <li>@Html.ActionLink("Tokens", "Credits", "Profile")</li>
        </ul>
    </div>
    <br/>
    <br/>
}

