 body{
        padding-top: 5px;
        height: 1800px;
        overflow: scroll;
        cursor: auto;
        /*background-image: url(/Images/Maps/NorthAmerica.png);*/
        background-repeat: no-repeat;
        background-position: 30px 80px;
}
#content{
    width:2200px; 
    height:1450px; 
    /*height:2000px;*/ 
    overflow:scroll;          
}
