@{
    ViewBag.Title = "About MyLegacyMaps.com";
}
<h3>About MyLegacyMaps.com</h3>

<p>
In today's electronic gadget mania, it seems that everyone is carrying a device with a built-in digital camera onboard. As a result travelers are now taking hundreds more pictures and videos than ever before.

Once these newly-empowered "shutterbugs" return home from traveling they are overwhelmed with digital images that sadly, seldom ever get seen again, especially by friends and family.

MyLegacyMaps.com now makes it possible for Users to record their travels by "Planting Flags" with "Links" on special-interest, G.I.S. and/or beautifully-illustrated maps created by Source Map.

"Users" can now choose to add Links to their Planted Flags that show their travel "video" clips, "pictures" and descriptive text "Travel Journals".

Users can now up-date and save their annotated Legacy MapsTM over a lifetime, thus creating true Legacy Maps &trade; .

Users can now also have their Legacy MapsTM printed in several sizes for wall display.
</p>