@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h3><i>AFTER YOU RETURN</i></h3>
        <p>
            home from your vacation/trip, WHAT are you going to do with all of the keep-sake pictures and video you took?
            HOW will you share your trip's video, pictures and Travel Journal Entries on social media?..... Simple... place them all on your Legacy Maps&trade; and "Show Your World"&trade;.
        </p>
    </div>
</div>
<ul class="mlm-list">
    <li>
        <img src="~/images/mlm_web_home-page_adventure-maps.png">

        <ul class="mlm-flags">
            <li><img class="flag" src="~/Images/icons/mlm_flag_red-wht.png" /></li>
            <li><img class="flag" src="~/Images/icons/mlm_flag_green-wht.png" /></li>
            <li><img class="flag" src="~/Images/icons/checked-flag.png" /></li>
        </ul>

        <a href="/Maps/AdventureMaps"><h3>Adventure Maps</h3><span>and more...</span></a>
    </li>
    <li class="tablet-desktop-view">
        <div>
            <img class="phone" src="~/Images/icons/mlm-telephone.png" width="30" alt="Call" />
            <p>Have your destination, attraction, or resort logo placed on a Legacy Map&trade;</p>
            <p>Call (360) 479-8384</p>
        </div>
    </li>
    <li>
        <img src="~/images/mlm_web_home-page_real-estate-maps.png">
        <ul class="mlm-flags">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <a href="/Maps/RealEstateMaps"><h3>Real Estate Maps</h3><span>and more...</span></a>
    </li>
    <li class="phone-view">
        <img class="phone" src="~/Images/icons/mlm-telephone.png" width="30" alt="Call" />
        <p>Have your destination, attraction, or resort logo placed on a Legacy Map &trade;</p>
        <p>Call (360) 479-8384</p>
    </li>
    
</ul>

<div class="row bottom-text">
    <div class="col-md-12">
        <h3>Start your Legacy Map&trade; today!</h3>
        <p>Record and share your legacy on an Internet-based, beautiful, full-color, custom-made, special-interest theme <a href="">Adventure Maps</a> and <a href="">Real Estate Maps</a> ready for you to record your adventures, then SHOW and SHARE your legacy with family, friends, and clients.  MLM maps include: Spectator Sports, Participant Sports, education, tourist destinations, states, natural history, civilization, real estate opportunities and many more...</p>
        <p>Get started today building your personalized Legacy Maps&trade; with flags and/or custom logos. @Html.ActionLink("Try it for FREE!!!", "Index", "Maps", null, new { controller = "Maps" })</p>
    </div>
</div>