@{
    ViewBag.Title = "Privacy Policy";
}

<h3>Privacy Policy</h3>
<p>
    MyLegacyMaps.com, herein after referred to as "Website" is designed to collect and publish on the Internet and in Print, certain User-provided information pertaining to User's identity, contact information and travel activities.
    Website endeavors to publish only the User’s information that User elects to have published as stated by User.

    Website only collects enough User information necessary to communicate with User and to fulfill User’s requested Website services.

    Certain User-provided information is necessarily provided to third-party Website printing contractors who are provided User’s information for the sole purpose of fulfilling User’s print purchases.
    Certain User-Provided information is unavoidably taken from Website and Website activity by third-parties. Such User information may be taken both legally by mandatory regulations imposed on Website including, but not limited to, governments, Internet Service Provider’s and illegally by “hackers”.
    Website does not endeavor to share in any fashion User’s collected information with any third-parties other than those legal entities set out herein above.

    Website does not collect User financial transaction information and uses PayPal to conduct any/all required financial transactions.

</p>

