@{
    ViewBag.Title = "Terms And Conditions";
}

<h3>Term of Use Policy</h3>

<p>

MyLegacyMaps.com is an Internet website and is referred to hereafter as “Website”.
Website is designed to provide certain proprietary Intellectual Property information, hereafter referred to “IP”, to individuals who visit and/or Log into Website and are referred to hereafter as “Users”.
All User’s agree to use Website solely for the purposes stated herein below and referred to hereafter as “Rules”.
Users agree to the following Website Rules:
1.Obey all domestic and International laws pertaining to Copyrights, Trademarks and/or Patents of IP contained on Website.
2.Not to copy, transmit, record and/or alter in any way and/or by any means, any IP on Website.
3.Not to alter in any fashion beyond the methods provided to User by Website, any IP contained on Website.
4.Not to provide Website with any false information regarding User’s identity.
5.User may use the IP on Website only in accordance with the instructions and/or features published on Website.
Deviation in any manner form the Terms of Use as stated herein above, may terminate User’s usage rights and result in legal prosecution and deletion of all User’s information stored on Website, at Website’s sole discretion.

</p>