@model MyLegacyMaps.Models.Map


<div class="container-fluid">
    <div class="row-fluid">
        <div class="canvasWrapper span12">
            
            <div>
                <h3>@Html.DisplayFor(model => Model.Name)</h3>
                                
               
                    <a id="lnkSaveMap" href="#" class="btn btn-info btn-sm  btnSaveMap"
                       title="Once you Adopt a map you can begin adding your photos and videos.">
                <span class="glyphicon glyphicon-floppy-disk"></span>Adopt Map</a>
               
              
                <div class="sliderWrapper">
                    <a href="#" id="zoomIn"><span class="glyphicon glyphicon-minus"></span></a>
                    <input id="zoomSlider" type="range" value="1" min=".5" max="1" step=".01">
                    <a href="#" id="zoomOut"><span class="glyphicon glyphicon-plus"></span></a>
                </div>
            
            </div> 
            <br />         
            <div id="canvas"></div>                   
        </div>
    </div>   
</div>



