<div class="row">
    <div class="span4">
        <p>
            <input id="btnWasHere" type="button" value="I was here" />
            <button id="btnHereNow" type="button">I'm here now</button>
            <button id="btnWantToGoHere" type="button">I'm planning to go here</button>
            <button id="btnCustomLogo" type="button">Custom Logo</button>
            <input type="submit" value="Save Map" class="btn" />
        </p>
    </div>
    <div class="span8">
        <div id="content"></div>
    </div>
</div> 
