<div class="row">
    <div class="span4">
        <p>
            <input id="btnWasHere" class="btn" type="button" value="I was here" />
            <input id="btnHereNow" class="btn" type="button" value="I'm here now" />
            <input id="btnWantToGoHere" class="btn" type="button" value="I'm planning to go here"/>
            <input id="btnCustomLogo" class="btn" type="button" value="Custom Logo"/>
            <input id="btnSaveMap" type="submit" class="btn" value="Save Map" />
        </p>
    </div>
    <div class="span8">
        <div id="content"></div>
    </div>    
</div> 


