@model MyLegacyMaps.Models.Map
<div class="container-fluid">
    <div class="fooboo row-fluid">
        <div id="toolbar" class="span4">
            <h3>@Html.DisplayFor(model => Model.Name)</h3>      
            <a id="btnWasHere" href="#" class="btn btn-info btn-sm"><img class="flag-icon" src="~/Images/icons/red-flag-icon.png" />I was here</a>
            <a id="btnHereNow" href="#" class="btn btn-info btn-sm"><img class="flag-icon" src="~/Images/icons/checked-flag-icon.png" />I'm here now</a>
            <a id="btnWantToGoHere" href="#" class="btn btn-info btn-sm"><img class="flag-icon" src="~/Images/icons/yellow-flag-icon.png" />Planning to go</a>
            <a id="lnkSaveMap" href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>      
            <div class="zoom-buttons">
                <a href="#" id="zoomIn">Zoom In</a>&nbsp;
                <a href="#" id="zoomOut">Zoom Out</a>
                <input id="zoomSlider" type="range" min=".5" max="1.5" step=".0005">
                <a href="#" id="zoomReset">Reset</a>
            </div>
        </div>
        <div id="canvas"></div>
    </div>
</div>



