@model MyLegacyMaps.Models.Map
<div class="container-fluid">
    <div class="fooboo row-fluid">
        <div id="toolbar" class="span4">
            <h3>@Html.DisplayFor(model => Model.Name)</h3>          
            <div class="sliderWrapper">
                <a href="#" id="zoomIn"><span class="glyphicon glyphicon-minus"></span></a>
                <input id="zoomSlider" type="range" value="1" min=".5" max="1" step=".01">              
                <a href="#" id="zoomOut"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
        <div id="canvas"></div>
    </div>
</div>



