@model MyLegacyMaps.Models.Account.ApplicationUser

@{
    ViewBag.Title = "My Maps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/ProfileNav.cshtml")
<div style="height:300px">
    <p>
        Tokens allow you to save flags to you map collection. Credits ar .99 cents each and can be purchased up to fifty at a time.
        Once you purchased credits you will be able to save flags as long as you have available credits left. Once saved, you can edit or
        move a flag on a given map as much as you'd like. Note that once a flag is saved to a map it will remain on that map indefinately,
        in other words you cannot transfer flags between maps.
    </p>
    <p>
        <h4>Total Tokens Left: @Html.DisplayFor(model => model.Credits)</h4>
    </p>
</div>

