@model MyLegacyMaps.Models.Account.ApplicationUser

@{
    ViewBag.Title = "MyLegacyMaps Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/ProfileNav.cshtml")
<div style="height:300px">
    <p>
        Thank You
    </p>   
</div>

