@model MyLegacyMaps.Models.Account.ApplicationUser

@{
    ViewBag.Title = "MyLegacyMaps Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/ProfileNav.cshtml")
<div style="height:300px">
    <h3>Thank You</h3>

    <h4>Order Confirmation</h4>
    <p>
        @ViewBag.Message
    </p>   
</div>

