<div id='dlgWasHere' style="height:400px; width:300px; padding:0px 10px;">
    <p style="text-align:center;"><strong>Travel Way Point - Was Here</strong></p>
    <strong>Date:</strong><br> <input id="txtFlagDate" type="text" class="modal-text" /> <br>
    <strong>Place:</strong><br> <input id="txtFlagName" type="text" class="modal-text" /><br>
    <strong>Videos:</strong> <br><input id="txtFlagVideoUrl" type="text" class="modal-text" /> <br />
    <strong>Pictures:</strong><br> <input id="txtFlagPhotoUrl" type="text" class="modal-text" /> <br />
    <strong>Travel Journal Entry:</strong><br> <textarea id="txtFlagDescription" rows="4" cols="100" /> <br /> <br />
    <p style="text-align:center">
        <a id="btnSaveFlag" href="#" class="btn btn-info btn-sm">Save</a>
        <a id="btnDeleteFlag" href="#" class="btn btn-info btn-sm">Delete</a>       
    </p>
</div>
<script type="text/javascript">
    $('#btnSaveFlag').click(function () {
        MLM.Modal.saveFlag();
    });
    $('#btnDeleteFlag').click(function () {
        MLM.Modal.deleteFlag();
    });
    $(function () {
        $("#txtFlagDate").datepicker();
    });
</script>