<div id='dlgWasHere' style="height:400px; width:300px; padding:0px 10px;">
    <p style="text-align:center;"><strong><span id="spCaption"></span></strong></p>
    <strong>Date:</strong><br> <input id="txtFlagDate" type="text" /> <br>
    <strong>Place:</strong><br> <input id="txtFlagName" type="text" /><br>
    <strong>Videos:</strong><br> <input id="txtFlagVideoUrl" type="text" /> <br />
    <strong>Pictures:</strong><br> <input id="txtFlagPhotoUrl" type="text" /> <br />
    <strong>Travel Journal Entry:</strong> <br><textarea id="txtFlagDescription" rows="4" cols="100" /> <br /> <br />
    <p style="text-align:center">
        <a id="btnCreateFlag" href="#" class="btn btn-info btn-sm">Save (1 token)</a>
        <a id="btnGetMoreTokens" href="#" class="btn btn-info btn-sm">Get More Tokens !!!</a>
    </p>
</div>
<script type="text/javascript">
    $('#btnCreateFlag').click(function () {
        MLM.Modal.createFlag();
    });
    $(function () {
        $("#txtFlagDate").datepicker();
    });
</script>