<div id='dlgWasHere' style="height:400px; width:300px; padding:0px 10px;">
    <p style="text-align:center;"><strong>Travel Way Point - Here Now</strong></p>
    <strong>Date:</strong><br> <input id="txtFlagDate" type="text" /> <br>
    <strong>Place:</strong><br> <input id="txtFlagName" type="text" /><br>
    <strong>Videos:</strong><br> <input id="txtFlagVideoUrl" type="text" /> <br />
    <strong>Pictures:</strong><br> <input id="txtFlagPhotoUrl" type="text" /> <br />
    <strong>Travel Journal Entry:</strong> <br><textarea id="txtFlagDescription" rows="4" cols="100" /> <br /> <br />
    <p style="text-align:center">
        <a id="btnBuyNow" href="#" class="btn btn-info btn-sm">Buy Now !!!</a>
    </p>
</div>
<script type="text/javascript">
    $('#btnBuyNow').click(function () {
        MLM.Modal.buyNow();
    });
    $(function () {
        $("#txtFlagDate").datepicker();
    });
</script>