<div id='dlgWasHere' style="height:400px; width:300px; padding:0px 10px;">
    <p style="text-align:center;"><strong>Travel Way Point - Here Now</strong></p>
    <strong>Date:</strong> <input id="txtFlagDate" type="text" class="modal-text readonly" /> <br>
    <strong>Place:</strong> <input id="txtFlagName" type="text" class="modal-text readonly" /><br>
    <strong>Videos:</strong> <input id="txtFlagVideoUrl" type="text" class="modal-text readonly" /> <br />
    <strong>Pictures:</strong> <input id="txtFlagPhotoUrl" type="text" class="modal-text readonly" /> <br />
    <strong>Travel Journal Entry:</strong> <textarea id="txtFlagDescription" rows="4" cols="100" /> <br /> <br />
    <p style="text-align:center">
        <a id="btnClose" href="#" class="btn btn-info btn-sm">Close</a>
    </p>
</div>
<script type="text/javascript">
    $('#btnClose').click(function () {
        MLM.Modal.close();
    });
</script>
