<div id='dlgWasHere' style="height:320px; width:300px; padding:0px 10px;">
    <p style="text-align:center;"><strong>Travel Way Point - Here Now</strong></p>
    <strong>Date:</strong> <input id="txtFlagDate" type="text" /> <br>
    <strong>Place:</strong> <input id="txtFlagName" type="text" /><br>
    <strong>Videos:</strong> <input id="txtFlagVideoUrl" type="text" /> <br />
    <strong>Pictures:</strong> <input id="txtFlagGalleryUrl" type="text" /> <br />
    <strong>Travel Journal Entry:</strong> <textarea id="txtFlagDescription" rows="4" cols="100" /> <br /> <br />    
</div>
