<div id='dlgRealEstate' style="height:510px; width:300px; padding:0px 10px;">
    <p style="text-align:center;"><strong><span id="spCaption"></span></strong></p>
    <strong>Property Title:</strong><br /><input id="txtFlagName" type="text" class="modal-text readonly" readonly /><br>
    <strong>Address:</strong><br/><input id="txtAddress1" type="text" class="modal-text readonly" readonly /><br>
    <strong>City:</strong><br /><input id="txtCity" type="text" class="modal-text readonly" readonly /><br>
    <div>
        <strong>State:</strong>&nbsp;<input id="txtState" type="text" class="modal-state readonly" readonly />
        <strong style="margin-left: 5px;">Postal Code:</strong><input id="txtPostalCode" type="text" class="modal-postalcode readonly" readonly />
    </div>
    <strong>Videos:</strong>&nbsp;<a id="lnkFlagVideoUrl" href="#" target="_blank">View</a><br />
    <strong>Pictures:</strong>&nbsp;<a id="lnkFlagPhotoUrl" href="#" target="_blank">View</a><br />
    <strong>Description:</strong><br /> <textarea id="txtFlagDescription" rows="6" cols="100" class="modal-text readonly" readonly /> <br /> <br />
    <p style="text-align:center">
        <a id="btnClose" href="#" class="btn btn-info btn-sm">Close</a>           
    </p>
</div>
<script type="text/javascript">
    $('#btnClose').click(function () {
        MLM.Modal.close();
    });   
</script>