 body{        
        height: 1800px;
        overflow: scroll;
        cursor: auto;
        /*background-image: url(/Images/Maps/NorthAmerica.png);*/
        background-repeat: no-repeat;
        background-position: 30px 80px;
        background: #252525;
        border-color: #454545;
        color: #fff;
}
#content{
    width:2200px; 
    height:1450px; 
    /*height:2000px;*/ 
    overflow:scroll;          
}

.sample-map {
    height: 400px;
}

body {    
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mlm-logo{
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
}

.menuitem {
    
}

