body {
    height: 1800px;
    overflow: scroll;
    cursor: auto;
    /*background-image: url(/Images/Maps/NorthAmerica.png);*/
    background-repeat: no-repeat;
    background-position: 30px 80px;
    background: #8ec9cd;
    border-color: #454545;
    color: #2d2d2d;
}

a, .navbar-inverse .navbar-nav > li > a {
    color: navy;
}
h3 {display:inline-block;}

.navbar-toggle {top:20px;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {background-color:transparent;}

.navbar{
    margin-bottom:0;
}

.navbar-nav {
    float:right;
    margin:0;
}
 .navbar-inverse {
    background: #8ec9cd;
    border:none;
 }

 .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
     color:#999999;
 }
#content{
    /*width:2200px; 
    height:1450px;*/ 
    /*height:2000px;*/ 
    overflow:scroll;          
}

.sample-map {
    height: 400px;
}

body {    
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 350px;
}

.mlm-logo{
    height: 100px;
    width: 100px;
}
.mlm-logo-link{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction:column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  float:left;
}
.mlm-logo-link span {
    font-size:9px;
    display:block;
    text-align:center;
    margin-bottom:10px;
}

.mlm-tagline{
    float:left;
    color:#2d2d2d;
    line-height:54px;
    margin:0;
}
.mlm-tagline.phone {
    display:none;
}

.mlm-header-maps {
    position:absolute;
    right:5px;
}

.menuitem {
}

ul.horizontal-list li {
    display:inline;
    padding:0;
}

.navbar-header {
    padding-bottom:10px;
    float:none;
    position:relative;
    margin:10px 0;
}

.navbar-header:before, .navbar-header:after{
    display:inherit;
    content:initial;
}

.navbar-collapse {
    width:100%;
    text-align:left;
    clear:both;
    max-height:none;
    background-color:#fff;
    position:relative;
}
    .horizontal-list {
        padding: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
    }

.socialLogin button{margin-right:10px;}
.socialLogin button:last-child {margin-right:0;}

@media screen and (max-width:767px){
    .mlm-tagline {
        display:none;
    }
    .mlm-tagline.phone {
        display: block;
        color: #4d4d4d;
        margin: 0;
        font-size: 20px;
        position: relative;
        line-height: normal;
        width: 72%;
        float: none;
        top: 27px;
        left: 20px;
        font-style: italic;
    }
    
    .navbar-nav li {
        border-bottom:1px solid #eaf6f7;
    }

    .sample-map{
        width:100%;
        height:100%;
    }

    .navbar-nav {
        float:none;
    }
    .navbar-nav.navbar-right li:last-child {
        border-bottom:none;
    }
    .navbar-collapse {
        background-color:#a1d4e9;
        padding:0;
        border-color:#eaf6f7 !important;
        margin:0 !important;
        text-align:center;
    }
    .mlm-header-maps {
        display: none;
    }
}

.mlm-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content:center;
}
.mlm-list li {
    text-align:center;
    margin-bottom:10px;
}

.mlm-list a span{margin-left:15px;}
.mlm-list img {
    width:300px;
    display:block;
    margin:0 auto;
    height:auto;
}

.mlm-flags{
    margin: 20px 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content:center;
}
img.flag {
    width:100px;
}

@media screen and (max-width:1199px) {
    .mlm-header-maps {
        width:80%;
        top:10px;
    }
}

@media screen and (min-width:768px) {
    .mlm-list {
        margin-top:20px;
        flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        justify-content: space-around;
	    -webkit-align-items: baseline;
	    -moz-align-items: baseline;
	    -ms-align-items: baseline;
	    align-items: baseline;
    }

    .mlm-list li {
        text-align: left;
    }

    .mlm-list li:not(:last-child) {
        margin-right: 10px;
    }

    .mlm-list img {
        width: 300px;
        display: block;
        margin: 0 auto;
        height: auto;
    }

    .mlm-flags {
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
    img.flag{
        width:125px;
    }
}
@media screen and (min-width:1024px){
    .mlm-list img{
        width:85%;
    }
}
@media screen and (min-width:990px) and (max-width:1269px){
    .navbar-collapse{
        top:20px;
        margin-bottom:20px;
    }
}
@media screen and (min-width:568px) {
    .horizontal-list {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    }
    ul.horizontal-list li {
        padding:0 10px;
    }
    ul.horizontal-list li:not(:last-child){
        border-right:1px solid #2d2d2d;
    }
}
@media screen and (min-width:568px) and (max-width:767px){
    .navbar-collapse {
        float:right;
        width:40%;
    }
}
@media screen and (max-width:1269px) {
    .mlm-tagline {
        position: absolute;
        top: -44px;
        font-size: 12px;
        right: 5px;
    }
}
@media screen and (min-width:1270px){
    .mlm-list img {
        width:100%;
    }
}

/* phone styles */
@media screen and (max-width:414px){
    .navbar-collapse {
        width:100%;
        margin:0 !important;
    }
}
