@model  PagedList.IPagedList<MyLegacyMaps.Models.Map >
@using PagedList.Mvc;
@using MyLegacyMaps.Models;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "MyLegacyMaps";
}
<h3>Maps</h3>
<br />
<div><h4>@Html.ActionLink("Adventure Maps", "AdventureMaps")</h4></div>
<p>MyLegacyMaps.com has tons of beautifully-illustrated, special-interest, theme maps being made ready for you, including, Spectator Sports, Participant Sports, Education, Tourist Destinations, States, Natural History, Civilization, @Html.ActionLink("and many more...", "AdventureMaps")</p>
<br />
<div><h4>@Html.ActionLink("Real Estate Maps", "RealEstateMaps")</h4></div>
<p>Attention Real Estate Professionals!!! MyLegacyMaps.com allows you to list your properties by placing your logo on @Html.ActionLink("local area maps", "RealEstateMaps") that you can share with your clients. Don't see your logo? <a href="mailto:mail@mail-source.com">Contact Us</a> to have your custom logo added to this website.</p>
<br />
 

